<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>

    <div class="contenedor">
        <header class="header">
            <h1>Crear cuenta</h1>
        </header>

        <form id="form">
            <div class="form-control">
                <label for="nombre">Nombre</label>
                <input type="text" placeholder="Nombre" id="nombre">
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Incorrecto</small>
            </div>

            <div class="form-control">
                <label for="telefono">Telefono</label>
                <input type="tel" placeholder="5501010101" id="telefono"/>
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Incorrecto</small>
            </div>

            <div class="form-control">
                <label for="correo">Correo</label>
                <input type="email" placeholder="usuario@gmail.com" id="correo">
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Incorrecto</small>
            </div>


            <div class="form-control">
                <label for="contraseña1">Contraseña</label>
                <input type="password" placeholder="contraseña" id="contraseña1">
                <i class="fas fa-check-circle "></i>
                <i class="fas fa-exclamation-circle "></i>
                <small>Incorrecto</small>
            </div>


            <div class="form-control">
                <label for="contraseña2">Repetir contraseña</label>
                <input type="password" placeholder="contraseña" id="contraseña2">
                <i class="fas fa-check-circle "></i>
                <i class="fas fa-exclamation-circle "></i>
                <small>Incorrecto</small>
            </div>

            <div class="form-control" required>
                <label for="fecha">Fecha de nacimiento</label>
                <input type="date" id="fecha">
                <i class="fas fa-check-circle "></i>
                <i class="fas fa-exclamation-circle "></i>
                <small>Incorrecto</small>
            </div>

            <div class="condiciones">
                <p>Al hacer clic en "Registrarte", aceptas nuetras <a href="#">condiciones</a>, la <a href="#">Política de datos</a> y la <a href="#">Política de cookies</a>.</p>
            </div>


            <button>Registrarte</button>
        </form>
    </div>


</body>
</html>