@import 'variables';
@import 'mixins';
@import 'reset';

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

body{
    background-color: rgb(0, 19, 187);
    background-image: url(/src/img/random-shapes-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    margin: 30px;
}

.contenedor{
    background-color: rgba(29,29,29, 0.7);
    width: 450px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 5px 10px black;
}

.header{
    background-color: rgba(26, 26, 26, 0.5);
    display: block;
    padding: 15px 25px;
    text-align: center;
    font-weight: 500;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-transform: uppercase;
}

h1{
    font-weight: 500;
    color: white;
}

form{
    padding: 15px 10px;
}

label[for="nombre"],
label[for="telefono"], label[for="correo"],
label[for="contraseña1"], label[for="contraseña2"], label[for="fecha"]{
    display: block;
    text-align: left;
    padding: 10px 15px;
    color: rgb(224, 224, 224);
}

input[placeholder="Nombre"],
input[type="tel"],
input[type="email"],
input[type="password"],
input[type="date"] {
    background: none;
    border: 1px solid gray;
    outline: 0;
    display: inline;
    width: 94%;
    margin: 1px 17px 8px;
    border-radius: 3px;
    text-align: left;
    color: rgb(255, 255, 255);
    padding: 5px;
}

input[placeholder="Nombre"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="password"]:focus,
input[type="date"]:focus{
    background-color:rgba(36, 36, 36, 0.5);
    color: rgb(179, 179, 179);
}

button{
    background: none;
    border: 0;
    background-color:rgb(0, 119, 6);
    padding: 10px;
    width: 355px;
    border-radius: 3px;
    margin: 20px auto 30px;
    color: white;
    cursor: pointer;
}

button:hover{
    background:rgb(0, 95, 5);
    transition: 0.5s;
}

.form-control{
    position: relative;
}


.form-control i{
    display: none;
    transition: 0.5s;
    position: absolute;
    top: 47px;
    right: 15px;
}

.form-control.success input{
    border: 1px solid green;
    background-color: rgba(255, 255, 255, 0.2);
    color: rgb(255, 255, 255);
}

.form-control.error input{
    border: 1px solid red;
    background-color: rgba(255, 255, 255, 0.2);
    color: rgb(255, 255, 255);
}


.form-control small{
    color: red;
    font-size: 12px;
    display: flex;
    margin: 1px 45px;
    display: none;
}

.form-control.error small{
    display: flex;
}

/*agregar al form la clase succes con JS para que tome los estilos*/
.form-control.success i.fa-check-circle{
    color: #2ecc71;
    display: inline;
}

.form-control.error i.fa-exclamation-circle{
    color: #e74c3c;
    display: inline;
}


.condiciones{
    padding: 15px 20px;
    text-align: justify;
    color: rgb(168, 167, 167);
    font-size: 12px;
}

.condiciones a{
    color: rgb(245, 245, 245);
    text-decoration: none;
}

.condiciones a:hover{
    color: rgb(0, 119, 6);
    transition: 1s;
}
